<%- include("partials/header") -%>

<h3 class="calmaintitle"><%= sturecarr[0] %>, class: <%= sturecarr[1] %>, roll no. <%= sturecarr[2] %></h3>

<div class="calcontainer" id="jan">
    <div class="calframe">
        <div class="calmonth">January</div>
        <div class="calbody">
            <div class="calgrid" id="jancalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="janf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="feb">
    <div class="calframe">
        <div class="calmonth">February</div>
        <div class="calbody">
            <div class="calgrid" id="febcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="febf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="mar">
    <div class="calframe">
        <div class="calmonth">March</div>
        <div class="calbody">
            <div class="calgrid" id="marcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="marf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="apr">
    <div class="calframe">
        <div class="calmonth">April</div>
        <div class="calbody">
            <div class="calgrid" id="aprcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="aprf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="may">
    <div class="calframe">
        <div class="calmonth">May</div>
        <div class="calbody">
            <div class="calgrid" id="maycalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="mayf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="jul">
    <div class="calframe">
        <div class="calmonth">July</div>
        <div class="calbody">
            <div class="calgrid" id="julcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="julf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="aug">
    <div class="calframe">
        <div class="calmonth">August</div>
        <div class="calbody">
            <div class="calgrid" id="augcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="augf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="sep">
    <div class="calframe">
        <div class="calmonth">September</div>
        <div class="calbody">
            <div class="calgrid" id="sepcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="sepf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="oct">
    <div class="calframe">
        <div class="calmonth">October</div>
        <div class="calbody">
            <div class="calgrid" id="octcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="octf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="nov">
    <div class="calframe">
        <div class="calmonth">November</div>
        <div class="calbody">
            <div class="calgrid" id="novcalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="novf">calender footer</div>
    </div>
</div>

<div class="calcontainer" id="dec">
    <div class="calframe">
        <div class="calmonth">December</div>
        <div class="calbody">
            <div class="calgrid" id="deccalgrid">
                <div class="calh">Sun</div>
                <div class="calh">Mon</div>
                <div class="calh">Tue</div>
                <div class="calh">Wed</div>
                <div class="calh">Thu</div>
                <div class="calh">Fri</div>
                <div class="calh">Sat</div>
            </div>
        </div>
        <div class="calfooter" id="decf">calender footer</div>
    </div>
</div>

<% if(jan[0].length > 0){ %>
    <script>
    const janid = document.getElementById("jan");
    janid.style.display = "flex";
    const calDateJan = new Date("01-01-"+String(parseInt(<%= year %>)+1)).getDay();
    for(let j = 0; j < parseInt(calDateJan); j++ ){
        document.getElementById("jancalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let janindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(jan[0].includes(i)){ %>
            <% if(jan[1][janindex] === 1){ %>
                <script>
                    document.getElementById("jancalgrid").innerHTML += '<div class="calnp"><%= jan[0][janindex] %></div>';
                </script>
            <% }else if(jan[1][janindex] === 0){ %>
                <script>
                    document.getElementById("jancalgrid").innerHTML += '<div class="calna"><%= jan[0][janindex] %></div>';
                </script>
            <% } %>

        <% janindex += 1; }else{ %>
           <script>
            document.getElementById("jancalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let janpresent = 0; jantotal = 0; %> 
    <% for(let kk = 0; kk < jan[1].length; kk++){ %>
        <% janpresent+=jan[1][kk]; %>
        <% jantotal+=1; %>
    <% } %>
        <script>
            document.getElementById("janf").innerHTML = "attendance: <%= janpresent %>/<%= jantotal %>";
        </script>
<% } %>



<% if(feb[0].length > 0){ %>
    <script>
    const febid = document.getElementById("feb");
    febid.style.display = "flex";
    const calDatefeb = new Date("02-01-"+String(parseInt(<%= year %>)+1)).getDay();
    for(let j = 0; j < parseInt(calDatefeb); j++ ){
        document.getElementById("febcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let febindex = 0; %>
    <% for(let i = 1; i<= 29; i++){ %>
        <% if(feb[0].includes(i)){ %>
            <% if(feb[1][febindex] === 1){ %>
                <script>
                    document.getElementById("febcalgrid").innerHTML += '<div class="calnp"><%= feb[0][febindex] %></div>';
                </script>
            <% }else if(feb[1][febindex] === 0){ %>
                <script>
                    document.getElementById("febcalgrid").innerHTML += '<div class="calna"><%= feb[0][febindex] %></div>';
                </script>
            <% } %>

        <% febindex += 1; }else{ %>
           <script>
            document.getElementById("febcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let febpresent = 0; febtotal = 0; %> 
    <% for(let kk = 0; kk < feb[1].length; kk++){ %>
        <% febpresent+=feb[1][kk]; %>
        <% febtotal+=1; %>
    <% } %>
        <script>
            document.getElementById("febf").innerHTML = "attendance: <%= febpresent %>/<%= febtotal %>";
        </script>
<% } %>


<% if(mar[0].length > 0){ %>
    <script>
    const marid = document.getElementById("mar");
    marid.style.display = "flex";
    const calDatemar = new Date("03-01-"+String(parseInt(<%= year %>)+1)).getDay();
    for(let j = 0; j < parseInt(calDatemar); j++ ){
        document.getElementById("marcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let marindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(mar[0].includes(i)){ %>
            <% if(mar[1][marindex] === 1){ %>
                <script>
                    document.getElementById("marcalgrid").innerHTML += '<div class="calnp"><%= mar[0][marindex] %></div>';
                </script>
            <% }else if(mar[1][marindex] === 0){ %>
                <script>
                    document.getElementById("marcalgrid").innerHTML += '<div class="calna"><%= mar[0][marindex] %></div>';
                </script>
            <% } %>

        <% marindex += 1; }else{ %>
           <script>
            document.getElementById("marcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let marpresent = 0; martotal = 0; %> 
    <% for(let kk = 0; kk < mar[1].length; kk++){ %>
        <% marpresent+=mar[1][kk]; %>
        <% martotal+=1; %>
    <% } %>
        <script>
            document.getElementById("marf").innerHTML = "attendance: <%= marpresent %>/<%= martotal %>";
        </script>
<% } %>

<% if(apr[0].length > 0){ %>
    <script>
    const aprid = document.getElementById("apr");
    aprid.style.display = "flex";
    const calDateapr = new Date("04-01-"+String(parseInt(<%= year %>)+1)).getDay();
    for(let j = 0; j < parseInt(calDateapr); j++ ){
        document.getElementById("aprcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let aprindex = 0; %>
    <% for(let i = 1; i<= 30; i++){ %>
        <% if(apr[0].includes(i)){ %>
            <% if(apr[1][aprindex] === 1){ %>
                <script>
                    document.getElementById("aprcalgrid").innerHTML += '<div class="calnp"><%= apr[0][aprindex] %></div>';
                </script>
            <% }else if(apr[1][aprindex] === 0){ %>
                <script>
                    document.getElementById("aprcalgrid").innerHTML += '<div class="calna"><%= apr[0][aprindex] %></div>';
                </script>
            <% } %>

        <% aprindex += 1; }else{ %>
           <script>
            document.getElementById("aprcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let aprpresent = 0; aprtotal = 0; %> 
    <% for(let kk = 0; kk < apr[1].length; kk++){ %>
        <% aprpresent+=apr[1][kk]; %>
        <% aprtotal+=1; %>
    <% } %>
        <script>
            document.getElementById("aprf").innerHTML = "attendance: <%= aprpresent %>/<%= aprtotal %>";
        </script>
<% } %>

<% if(may[0].length > 0){ %>
    <script>
    const mayid = document.getElementById("may");
    mayid.style.display = "flex";
    const calDatemay = new Date("05-01-"+String(parseInt(<%= year %>)+1)).getDay();
    for(let j = 0; j < parseInt(calDatemay); j++ ){
        document.getElementById("maycalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let mayindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(may[0].includes(i)){ %>
            <% if(may[1][mayindex] === 1){ %>
                <script>
                    document.getElementById("maycalgrid").innerHTML += '<div class="calnp"><%= may[0][mayindex] %></div>';
                </script>
            <% }else if(may[1][mayindex] === 0){ %>
                <script>
                    document.getElementById("maycalgrid").innerHTML += '<div class="calna"><%= may[0][mayindex] %></div>';
                </script>
            <% } %>

        <% mayindex += 1; }else{ %>
           <script>
            document.getElementById("maycalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let maypresent = 0; maytotal = 0; %> 
    <% for(let kk = 0; kk < may[1].length; kk++){ %>
        <% maypresent+=may[1][kk]; %>
        <% maytotal+=1; %>
    <% } %>
        <script>
            document.getElementById("mayf").innerHTML = "attendance: <%= maypresent %>/<%= maytotal %>";
        </script>
<% } %>

<% if(jul[0].length > 0){ %>
    <script>
    const julid = document.getElementById("jul");
    julid.style.display = "flex";
    const calDatejul = new Date("07-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDatejul); j++ ){
        document.getElementById("julcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let julindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(jul[0].includes(i)){ %>
            <% if(jul[1][julindex] === 1){ %>
                <script>
                    document.getElementById("julcalgrid").innerHTML += '<div class="calnp"><%= jul[0][julindex] %></div>';
                </script>
            <% }else if(jul[1][julindex] === 0){ %>
                <script>
                    document.getElementById("julcalgrid").innerHTML += '<div class="calna"><%= jul[0][julindex] %></div>';
                </script>
            <% } %>

        <% julindex += 1; }else{ %>
           <script>
            document.getElementById("julcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let julpresent = 0; jultotal = 0; %> 
    <% for(let kk = 0; kk < jul[1].length; kk++){ %>
        <% julpresent+=jul[1][kk]; %>
        <% jultotal+=1; %>
    <% } %>
        <script>
            document.getElementById("julf").innerHTML = "attendance: <%= julpresent %>/<%= jultotal %>";
        </script>
<% } %>


<% if(aug[0].length > 0){ %>
    <script>
    const augid = document.getElementById("aug");
    augid.style.display = "flex";
    const calDateaug = new Date("08-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDateaug); j++ ){
        document.getElementById("augcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let augindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(aug[0].includes(i)){ %>
            <% if(aug[1][augindex] === 1){ %>
                <script>
                    document.getElementById("augcalgrid").innerHTML += '<div class="calnp"><%= aug[0][augindex] %></div>';
                </script>
            <% }else if(aug[1][augindex] === 0){ %>
                <script>
                    document.getElementById("augcalgrid").innerHTML += '<div class="calna"><%= aug[0][augindex] %></div>';
                </script>
            <% } %>

        <% augindex += 1; }else{ %>
           <script>
            document.getElementById("augcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let augpresent = 0; augtotal = 0; %> 
    <% for(let kk = 0; kk < aug[1].length; kk++){ %>
        <% augpresent+=aug[1][kk]; %>
        <% augtotal+=1; %>
    <% } %>
        <script>
            document.getElementById("augf").innerHTML = "attendance: <%= augpresent %>/<%= augtotal %>";
        </script>
<% } %>





<% if(sep[0].length > 0){ %>
    <script>
    const sepid = document.getElementById("sep");
    sepid.style.display = "flex";
    const calDatesep = new Date("09-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDatesep); j++ ){
        document.getElementById("sepcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let sepindex = 0; %>
    <% for(let i = 1; i<= 30; i++){ %>
        <% if(sep[0].includes(i)){ %>
            <% if(sep[1][sepindex] === 1){ %>
                <script>
                    document.getElementById("sepcalgrid").innerHTML += '<div class="calnp"><%= sep[0][sepindex] %></div>';
                </script>
            <% }else if(sep[1][sepindex] === 0){ %>
                <script>
                    document.getElementById("sepcalgrid").innerHTML += '<div class="calna"><%= sep[0][sepindex] %></div>';
                </script>
            <% } %>

        <% sepindex += 1; }else{ %>
           <script>
            document.getElementById("sepcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let seppresent = 0; septotal = 0; %> 
    <% for(let kk = 0; kk < sep[1].length; kk++){ %>
        <% seppresent+=sep[1][kk]; %>
        <% septotal+=1; %>
    <% } %>
        <script>
            document.getElementById("sepf").innerHTML = "attendance: <%= seppresent %>/<%= septotal %>";
        </script>
<% } %>

<% if(oct[0].length > 0){ %>
    <script>
    const octid = document.getElementById("oct");
    octid.style.display = "flex";
    const calDateoct = new Date("10-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDateoct); j++ ){
        document.getElementById("octcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let octindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(oct[0].includes(i)){ %>
            <% if(oct[1][octindex] === 1){ %>
                <script>
                    document.getElementById("octcalgrid").innerHTML += '<div class="calnp"><%= oct[0][octindex] %></div>';
                </script>
            <% }else if(oct[1][octindex] === 0){ %>
                <script>
                    document.getElementById("octcalgrid").innerHTML += '<div class="calna"><%= oct[0][octindex] %></div>';
                </script>
            <% } %>

        <% octindex += 1; }else{ %>
           <script>
            document.getElementById("octcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let octpresent = 0; octtotal = 0; %> 
    <% for(let kk = 0; kk < oct[1].length; kk++){ %>
        <% octpresent+=oct[1][kk]; %>
        <% octtotal+=1; %>
    <% } %>
        <script>
            document.getElementById("octf").innerHTML = "attendance: <%= octpresent %>/<%= octtotal %>";
        </script>
<% } %>

<% if(nov[0].length > 0){ %>
    <script>
    const novid = document.getElementById("nov");
    novid.style.display = "flex";
    const calDatenov = new Date("11-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDatenov); j++ ){
        document.getElementById("novcalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let novindex = 0; %>
    <% for(let i = 1; i<= 30; i++){ %>
        <% if(nov[0].includes(i)){ %>
            <% if(nov[1][novindex] === 1){ %>
                <script>
                    document.getElementById("novcalgrid").innerHTML += '<div class="calnp"><%= nov[0][novindex] %></div>';
                </script>
            <% }else if(nov[1][novindex] === 0){ %>
                <script>
                    document.getElementById("novcalgrid").innerHTML += '<div class="calna"><%= nov[0][novindex] %></div>';
                </script>
            <% } %>

        <% novindex += 1; }else{ %>
           <script>
            document.getElementById("novcalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let novpresent = 0; novtotal = 0; %> 
    <% for(let kk = 0; kk < nov[1].length; kk++){ %>
        <% novpresent+=nov[1][kk]; %>
        <% novtotal+=1; %>
    <% } %>
        <script>
            document.getElementById("novf").innerHTML = "attendance: <%= novpresent %>/<%= novtotal %>";
        </script>
<% } %>

<% if(dec[0].length > 0){ %>
    <script>
    const decid = document.getElementById("dec");
    decid.style.display = "flex";
    const calDatedec = new Date("12-01-"+String(parseInt(<%= year %>))).getDay();
    for(let j = 0; j < parseInt(calDatedec); j++ ){
        document.getElementById("deccalgrid").innerHTML += '<div></div>';
    }
    </script>
    <% let decindex = 0; %>
    <% for(let i = 1; i<= 31; i++){ %>
        <% if(dec[0].includes(i)){ %>
            <% if(dec[1][decindex] === 1){ %>
                <script>
                    document.getElementById("deccalgrid").innerHTML += '<div class="calnp"><%= dec[0][decindex] %></div>';
                </script>
            <% }else if(dec[1][decindex] === 0){ %>
                <script>
                    document.getElementById("deccalgrid").innerHTML += '<div class="calna"><%= dec[0][decindex] %></div>';
                </script>
            <% } %>

        <% decindex += 1; }else{ %>
           <script>
            document.getElementById("deccalgrid").innerHTML += '<div class="caln">'+<%= i %>+'</div>';
           </script> 
        <% } %>

    <% } %>

    <% let decpresent = 0; dectotal = 0; %> 
    <% for(let kk = 0; kk < dec[1].length; kk++){ %>
        <% decpresent+=dec[1][kk]; %>
        <% dectotal+=1; %>
    <% } %>
        <script>
            document.getElementById("decf").innerHTML = "attendance: <%= decpresent %>/<%= dectotal %>";
        </script>
<% } %>







<%- include("partials/footer") -%>